{
    "presets": [
        [
            "env", {
                "targets": {
                    "node": "current"
                },
                "include": [
                    "transform-async-to-generator"
                ]
            }
        ]
    ]
}
